[Unit]
Description=Docker Containers for opi_server
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/opi_server
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target